.category{
    width: 100%;
    padding: 0 50px;
    margin: 50px 0;
}

.con-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.category .item{
    width: 100px;
    height: 110px;
    background-color: #f6f6f6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.item:hover .category-image{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.category .item img{
    width: 30px;
    height: 30px;
}

.category .item h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    font-weight: 700;
    font-size: 0.9rem;
}

@media screen and (max-width: 768px){
    .category{
        padding: 0 20px;
    }

    .con-item{
        justify-content: center;
        gap: 20px;
    }
    
}