.product-container {
  width: 100%;
}

.Popular-Product {
  width: 100%;
  padding: 0 50px;
}

.product, .bunble-items {
  width: 100%;
  display: grid;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
}

.itemInfo{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-radius: 10px;
   padding: 15px 20px;
   border-radius: 15px;
   border: 1px solid rgb(211, 211, 211);
   overflow: hidden;
}

.itemInfo .image{
    width: 100%;
    display: flex;
    justify-content: center;
}

.product-container img{
    width: 100%;
    max-width: 150px;
    height: 150px;
    margin: 0 auto;
    transition: scale 0.3s ease 0s;
}

.itemInfo img:hover{
  scale: 1.5;
}

.itemInfo h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.itemInfo select{
  font-weight: 600;
  padding: 2px 7px;
  border-radius: 5px;
}

.itemInfo .price{
  font-size: 1.4rem;
  font-weight: 600;
  margin: 10px 0 20px 0;
}

.add-to-cart{
  width: 100%;
  text-align: center;
  background-color: #ecf7ee;
  color: #4eb060;
  padding: 6px 20px;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
}

.add-to-cart:hover{
  background-color: #50ac60;
  color: white;
}


/*  Popular Bundle Pack */

.popular-bundle{
  padding: 60px 50px;
  background-color: #ecf7ee;
  border-radius: 30px;
  margin-top: 50px;
}

.bundle-item{
  background-color: white;
  border: 0;
}

.bundle-item .des{
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.7;
}

@media screen and (max-width: 1024px){
   .product, .bunble-items{
     gap: 10px;
   }
}

@media screen and (max-width: 768px) {
  .product, .bunble-items {
    grid-template-columns: auto auto auto;
    gap: 6px;
  }
  .Popular-Product {
    padding: 0 20px;
  }
  .popular-bundle {
    padding: 40px 20px;
  }

  .itemInfo{
   padding: 5px;
}

  .product-container img{
    height: 70px;
  }

  .itemInfo h3{
    font-size: 1rem;
  }

  .itemInfo select{
    font-size: 0.7rem;
    padding: 2px 6px;
  }

  .itemInfo .price{
    font-size: 1rem;
    margin: 5px 0 10px 0;
  }

  .add-to-cart{
    font-size: 0.7rem;
    padding: 4px 10px;
  }
  
  .bundle-item .des{
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px){

}